<header class="w-full h-[10vh] bg-white flex justify-between p-4 items-center fixed">
    <h1 class="text-5xl font-bold">
        Titulo
    </h1>
    <nav class="h-[10vh] flex gap-5 font-semibold items-center">

        <input id="cantidad" type="number" min="1" max="80" placeholder="Cantidad">
        <input id="buscador" type="text" placeholder="Buscar" class="border rounded-2xl px-4">

        <a href="#"><h2>BTN</h2></a>
        <a href="#"><h2>BTN</h2></a>
        <a href="#"><h2>BTN</h2></a>

    </nav>
</header>

<script src="./GaleryScript.js"></script>